{% extends "base.html" %}

{% block title %}Post by @{{ post.username }} - My Cool Social Network{% endblock %}

{% block content %}

  <div class="post-detail">
    <a href="{{ url_for('index') }}" class="back-link">
      <i class="bi bi-arrow-left"></i>
      Back to feed
    </a>

    <div class="detail-header">
      <img
        src="{{ url_for('static', filename='images/' + post.profile_image) }}"
        alt="Profile picture of {{ post.username }}"
        class="big-profile-image"
      >

      <div>
        <p class="detail-user">@{{ post.username }}</p>
        <p class="post-date">{{ post.publication_date }}</p>
      </div>
    </div>

    <div class="detail-image-box">
      <img
        src="{{ url_for('static', filename='images/' + post.post_image) }}"
        alt="Post image"
        class="detail-image img-fluid"
      >
    </div>

    <p class="detail-text">{{ post.text }}</p>
  </div>

{% endblock %}
